<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Weather</title>
  </head>
  <body>
  {% with messages = get_flashed_messages() %}
  {% for message in messages %}
  <div class="alert alert-primary fade-in alert-dismissible" role="alert">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{message}}
  </div>
  {% endfor %}
  {% endwith %}
    <section class="vh-100">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <h3 class="mb-4 pb-2 fw-normal">Check the weather forecast</h3>

            <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                  
                  <form method="POST">
                    <div class="form-group">
                      <!-- <label for="exampleInputEmail1">Email address</label> -->
                      <input type="text" class="form-control" id="exampleInputEmail1" placeholder="City Name" name="city">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>

                </div>
            </div>
        </div>
    </section>
<!--        <div class="mb-4 pb-2">-->
<!--          <div class="form-check form-check-inline">-->
<!--            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"-->
<!--              value="option1" checked />-->
<!--            <label class="form-check-label" for="inlineRadio1">Celsius</label>-->
<!--          </div>-->

<!--          <div class="form-check form-check-inline">-->
<!--            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"-->
<!--              value="option2" />-->
<!--            <label class="form-check-label" for="inlineRadio2">Farenheit</label>-->
<!--          </div>-->
<!--        </div>-->
<br>
        {% for weather in weather_data %}
        <div class="card shadow-0 border">
          <div class="card-body p-4">
              <a href="{{ url_for('delete', city=weather.city) }}" class="close" data-dismiss="card" aria-label="close">&times;</a>
            <div class="media-left">
            <figure class="image is-50x50">
                <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
            </figure>
            </div>
            <h4 class="mb-1 sfw-normal">{{weather.city}}</h4>
            <p class="mb-2">Current temperature: <strong>{{weather.temperature}}</strong></p>
              <p class="mb-2">Feels like: <strong>{{weather.feels_like}}</strong></p>
<!--            <p>Feels like: <strong>4.37°C</strong></p>-->
<!--            <p>Max: <strong>6.11°C</strong>, Min: <strong>3.89°C</strong></p>-->

            <div class="d-flex flex-row align-items-center">
              <p class="mb-0 me-4">{{weather.description}}</p>
              <i class="fas fa-cloud fa-3x" style="color: #eee;"></i>
            </div>

          </div>
        </div>
{% endfor %}
      </div>

    </div>

  </div>
</section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>










